@use '../../../../node_modules/nice-forms.css/dist/nice-forms.css';
@use '../../../../node_modules/tom-select/dist/css/tom-select.css';

// Editor
.meros-form-root-container.has-child-selected:has(.block-list-appender),
.meros-form-section.has-child-selected:has(.block-list-appender),
.meros-form-row.has-child-selected:has(.block-list-appender) {
    border: rgb(0, 124, 186) dotted 1px !important;
}

.meros-form-root-container >
.block-list-appender {
    position: relative !important;
    width: 100% !important;
    width: -webkit-fill-available !important;
    margin-top: 20px !important;

}

.meros-form-section >
.block-list-appender {
    position: relative !important;
    width: 100% !important;
    width: -webkit-fill-available !important;
    margin-top: 20px !important;

}

.meros-form-row:has(.block-list-appender) {
    input, textarea, select {
        pointer-events: none !important;
    }
}

.meros-form-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .meros-form-field-editor,
    .meros-form-field-wrapper {
        width: 100% !important;
        width: -webkit-fill-available !important;
        flex: 1;
    
        .meros-form-field {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input:not([type="radio"]):not([type="checkbox"]), textarea, select {
                height: auto !important;
                width: 100% !important;
                width: -webkit-fill-available !important; // Fallback
            }

            fieldset {
                border: none;

                &.meros-fieldset-horizontal {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;

                    .meros-choice-option label {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

// TomSelect overrides

.ts-control {
    appearance: none !important;

    background: var(--nf-input-background-color) !important;
    border-bottom-width: var(--nf-input-border-width) !important;
    border: var(--nf-input-border-width) var(--nf-input-border-style) var(--nf-input-border-color) !important;
    border-bottom: var(--nf-input-border-bottom-width) var(--nf-input-border-style) var(--nf-input-border-color) !important;
    border-radius: var(--nf-input-border-radius) !important;

    box-shadow: none !important;

    color: var(--nf-input-color) !important;
    font-family: var(--nf-input-font-family) !important;
    font-size: var(--nf-input-font-size) !important;
    line-height: normal !important;

    padding: calc(var(--nf-input-size)*.75) !important;

    transition: all .15s ease-out !important;

    --icon-padding: calc(var(--nf-input-size)*2.25) !important;
    --icon-background-offset: calc(var(--nf-input-size)*0.75) !important;

    &.focus.input-active {
        border-color: var(--nf-input-focus-border-color) !important;
        outline: none !important;
    }
}

.ts-wrapper.input-active:not(.multi) {
    .ts-control .item {
        display: none !important;
    }
}

.ts-wrapper.multi.has-items:not(.input-active) {
    .ts-control input {
        display: none !important;
    }
}