.wp-block-accordion-panel {
    display: block !important;
    transition:
        height 0.35s cubic-bezier(.4,0,.2,1),
        padding 0.3s ease,
        opacity 0.3s ease;
}

.wp-block-accordion-panel:not([inert]) {
    height: 50px !important;
    opacity: 1 !important;
    visibility: visible !important;

    transition:
        height 0.35s cubic-bezier(.4,0,.2,1),
        padding 0.3s ease,
        opacity 0.3s ease 0.3s;
}

.wp-block-accordion-panel[inert] {
    height: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
}