@mixin meros-navigation-desktop-styles {
    // Fix wrapper border
    .meros-navigation-wrapper,
    .meros-submenu-wrapper {
        border: none !important;
    }

    // Fix dynamic header colours
    header.meros-has-header-animation.meros-has-animated-link-color
    .meros-navigation-wrapper {
        .wp-block-navigation__container
        .meros-top-level-item,
        .meros-submenu-wrapper {
            color: color-mix(
                in srgb,
                var(--meros-header-animate-link-color-start) calc(100% - (var(--fx-progress) * 100%)),
                var(--meros-header-animate-link-color-end) calc(var(--fx-progress) * 100%)
            ) !important;
        }
    }

    header.meros-has-header-animation.meros-has-animated-link-hover-color
    .meros-navigation-wrapper:not(.meros-desktop-menu-highlight-background) {
        .wp-block-navigation__container
        .meros-top-level-item:hover,
        .meros-submenu-wrapper:hover {
            color: color-mix(
                in srgb,
                var(--meros-header-animate-link-hover-color-start) calc(100% - (var(--fx-progress) * 100%)),
                var(--meros-header-animate-link-hover-color-end) calc(var(--fx-progress) * 100%)
            ) !important;
        }
    }

    .meros-navigation-wrapper {
        .wp-block-navigation__container
        .meros-top-level-item:not(.current-menu-item),
        .meros-submenu-wrapper:not(.current-menu-item) {
            color: var(--meros-nav-desktop-item-text-color, #000000) !important;
        }

        // Background Highlight Type
        &.meros-desktop-menu-highlight-background {
            .wp-block-navigation__container
            .meros-top-level-item:not(.current-menu-item),
            .meros-submenu-wrapper:not(.current-menu-item) {
                transition: background-color 0.2s ease, color 0.2s ease;

                &:hover {
                    color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
                    background-color: var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                }
            }

            .wp-block-navigation__container
            .meros-top-level-item.current-menu-item,
            .meros-submenu-wrapper.current-menu-item {
                background-color: var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
            }
        }

        // Underline Highlight Type
        &.meros-desktop-menu-highlight-underline {
            .wp-block-navigation__container
            .meros-top-level-item:not(.current-menu-item),
            .meros-submenu-wrapper:not(.current-menu-item) {
                transition: border-bottom 0.2s ease, color 0.2s ease;
                color: var(--meros-nav-desktop-item-text-color, #000000) !important;
                border-bottom: 2px solid transparent !important;

                &:hover {
                    color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
                    border-bottom: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                }
            }

            .wp-block-navigation__container
            .meros-top-level-item.current-menu-item,
            .meros-submenu-wrapper.current-menu-item {
                border-bottom: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
            }
            
        }

        // Overline Highlight Type
        &.meros-desktop-menu-highlight-overline {
            .wp-block-navigation__container
            .meros-top-level-item:not(.current-menu-item),
            .meros-submenu-wrapper:not(.current-menu-item) {
                transition: border-top 0.2s ease, color 0.2s ease;
                color: var(--meros-nav-desktop-item-text-color, #000000) !important;
                border-top: 2px solid transparent !important;

                &:hover {
                    color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
                    border-top: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                }
            }

            .wp-block-navigation__container
            .meros-top-level-item.current-menu-item,
            .meros-submenu-wrapper.current-menu-item {
                border-top: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
            }   
        }

        // Border Highlight Type
        &.meros-desktop-menu-highlight-border {
            .wp-block-navigation__container
            .meros-top-level-item:not(.current-menu-item),
            .meros-submenu-wrapper:not(.current-menu-item) {
                transition: border 0.2s ease, color 0.2s ease;
                color: var(--meros-nav-desktop-item-text-color, #000000) !important;
                border: 2px solid transparent !important;

                &:hover {
                    color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
                    border: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                }
            }

            .wp-block-navigation__container
            .meros-top-level-item.current-menu-item,
            .meros-submenu-wrapper.current-menu-item {
                border: 2px solid var(--meros-nav-desktop-item-highlight-color, #0693E3) !important;
                color: var(--meros-nav-desktop-item-text-hover-color, #222222) !important;
            }
        }

        // Spacing
        .wp-block-navigation__container {
            gap: var(--meros-nav-desktop-items-gap, 0px) !important;

            width: -webkit-fill-available !important;
            width: 100% !important;

            .meros-top-level-item,
            .meros-submenu-wrapper
            .wp-block-navigation-item__label {
                white-space: nowrap !important;
            }

            .meros-top-level-item,
            .meros-submenu-wrapper {
                // flex: 1;
                white-space: nowrap !important;
                padding: var(--meros-nav-desktop-item-padding-y, 0px) var(--meros-nav-desktop-item-padding-x, 10px) !important;
            }
        }
    }
}