// See mobile.scss for mega-menu mobile styles
@mixin meros-navigation-mega-menu-styles {
    // Positioning
    .meros-navigation-wrapper:not(.meros-mobile-menu-active) 
    .meros-mega-menu-wrapper {
        position: relative;
    }

    // Highlights & Colour
    .meros-navigation-wrapper
    .meros-mega-menu-wrapper
    .meros-mega-menu-item {
        color: var(--meros-nav-submenu-item-text-color, #000000);
        
        &:hover,
        &.current-menu-item {
            color: var(--meros-nav-submenu-item-text-color, #000000);
        }
    }

    .meros-navigation-wrapper
    .meros-mega-menu-wrapper.meros-submenu-highlight-underline
    .meros-mega-menu-item {
        color: var(--meros-nav-submenu-item-text-color, #000000);
        border-bottom: none;
        
        &:hover,
        &.current-menu-item {
            color: var(--meros-nav-submenu-item-text-hover-color, #000000);
            border-bottom: var(--meros-nav-submenu-item-highlight-border-width, 1px) solid var(--meros-nav-submenu-item-highlight-color, #0693E3);
        }
    }

    .meros-navigation-wrapper
    .meros-mega-menu-wrapper.meros-submenu-highlight-overline
    .meros-mega-menu-item {
        color: var(--meros-nav-submenu-item-text-color, #000000);
        border: none;
        
        &:hover,
        &.current-menu-item {
            color: var(--meros-nav-submenu-item-text-hover-color, #000000);
            border-top: var(--meros-nav-submenu-item-highlight-border-width, 1px) solid var(--meros-nav-submenu-item-highlight-color, #0693E3);
        }
    }
    

    // Flex fill
    .meros-navigation-wrapper:not(.meros-mobile-menu-active)
    .meros-mega-menu-wrapper.meros-mega-menu-fill-space
    .meros-mega-menu-items-container
    .wp-block-navigation__submenu-container
    .meros-mega-menu-column {
        flex: 1;
    }

    // Transition Fix for Switching Submenus
    .meros-navigation-wrapper
    .meros-mega-menu-wrapper.meros-mega-menu-switching
    .meros-mega-menu-items-container {
        transition: none;
        will-change: unset;
    }

    // Desktop Base Styles
    .meros-navigation-wrapper
    .meros-mega-menu-wrapper
    .meros-mega-menu-items-container {
        transform-origin: top;
        transform: scaleY(0);

        position: fixed;
        pointer-events: auto;

        transition: transform 0.4s ease;

        transition-delay: 0.4s;
        will-change: transform;

        top: var(--meros-header-height, 60px) !important;
        left: 0 !important;
        right: 0 !important;

        display: flex;
        justify-content: center;

        min-height: 200px;
        min-width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;

        z-index: 100;
        overflow: hidden;

        background-color: var(--meros-nav-submenu-bg-color, #FFFFFF);
        border-bottom: solid var(--meros-nav-submenu-border-width, 0px) var(--meros-nav-submenu-border-color, #FFFFFF00);

        .wp-block-navigation__submenu-container,
        .wp-block-navigation__submenu-container .meros-mega-menu-item,
        .wp-block-navigation__submenu-container .meros-mega-menu-column-title {
            display: flex;
            opacity: 0;
            
            transition: opacity 0.4s ease;
            transition-delay: 0s;
            will-change: opacity;
        }

        .wp-block-navigation__submenu-container {
            position: relative;
            visibility: visible !important;

            display: flex;
            flex-direction: row;
            gap: var(--meros-nav-submenu-mega-menu-column-gap, 20px);
            justify-content: var(--meros-nav-submenu-mega-menu-column-alignment, start);
            
            border: none !important;
            background-color: transparent;
            
            height: auto;
            width: var(--wp--style--global--wide-size, 100%) !important;

            // Editor only
            .block-list-appender {
                display: none !important;
            }

            .meros-mega-menu-column {
                display: flex;
                flex-direction: column;

                .meros-mega-menu-column-title {
                    margin-bottom: -15px;
                    color: var(--meros-nav-submenu-title-color, #5B5B5B);
                    font-size: var(--meros-nav-submenu-title-size, 14px);
                    padding: var(--meros-nav-submenu-title-padding-y, 16px) var(--meros-nav-submenu-title-padding-x, 16px);
                }

                .meros-mega-menu-column-content,
                .meros-mega-menu-column-content
                .block-editor-inner-blocks
                .block-editor-block-list__layout {
                    display: flex;
                    flex-direction: column;
                    gap: var(--meros-nav-submenu-mega-menu-item-gap, 0px);
                }

                .meros-mega-menu-item {
                    padding: var(--meros-nav-submenu-item-padding-y, 0px) var(--meros-nav-submenu-item-padding-x, 0px);
                    background-color: transparent;
                }

                .meros-mega-menu-item,
                .meros-mega-menu-column-title {
                    height: auto;
                    align-items: start;

                    div {
                        background-color: inherit !important;
                    }
                }
            }
        }
    }

    // Optional shadow
    .meros-navigation-wrapper 
    .meros-mega-menu-wrapper.meros-mega-menu-has-shadow 
    .meros-mega-menu-items-container {
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12);
    }

    // Desktop Open state
    .meros-navigation-wrapper .meros-mega-menu-wrapper.meros-submenu-open,
    .meros-navigation-wrapper .meros-mega-menu-wrapper:has(.is-selected),
    .meros-navigation-wrapper .meros-mega-menu-wrapper:has(.has-child-selected) {
        .meros-mega-menu-items-container {
            transform: scaleY(1);
            transition-delay: 0s;

            .wp-block-navigation__submenu-container,
            .wp-block-navigation__submenu-container .meros-mega-menu-item,
            .wp-block-navigation__submenu-container .meros-mega-menu-column-title {
                opacity: 1;
                transition-delay: 0.4s;
            }
        }
    }

    // Fix links
    .meros-mega-menu-wrapper, 
    .meros-mega-menu-wrapper a {
        cursor: pointer !important;
    }
}