.meros-swiper-editor 
.block-editor-inner-blocks 
.block-editor-block-list__layout 
.meros-swiper-slide {
    display: none;
}

.meros-swiper-editor 
.block-editor-inner-blocks 
.block-editor-block-list__layout
.meros-swiper-slide.is-selected {
    display: block;
}

.meros-swiper-editor 
.block-editor-inner-blocks 
.block-editor-block-list__layout
.meros-swiper-slide.has-child-selected {
    display: block;
}

.swiper-pagination {
    z-index: 100;
}