@mixin meros-navigation-mega-menu-styles {

    .meros-navigation-wrapper:not(.meros-mobile-menu-active) 
    .meros-mega-menu-wrapper {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -24px;
            height: 30px;
            pointer-events: auto;
        }
    }

    // Flex fill
    .meros-navigation-wrapper.meros-mega-menu-fill-space:not(.meros-mobile-menu-active)
    .meros-mega-menu-wrapper
    .meros-mega-menu-items-container
    .wp-block-navigation__submenu-container
    .meros-mega-menu-column {
        flex: 1;
    }

    // Desktop Closed state
    .meros-navigation-wrapper
    .meros-mega-menu-wrapper 
    .meros-mega-menu-items-container {
        transform-origin: top;
        transform: scaleY(0);
        pointer-events: none;
        transition: transform 0.4s ease;
        transition-delay: 0.4s;
        will-change: transform;

        position: fixed;
        visibility: visible !important;
        top: var(--meros-header-height, 60px) !important;
        left: 0 !important;

        display: flex;
        justify-content: center;

        min-height: 200px;
        min-width: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;

        z-index: 100;
        overflow: hidden;

        background-color: var(--meros-nav-submenu-bg-color, #FFFFFF);
        border-bottom: solid var(--meros-nav-submenu-border-width, 1px) var(--meros-nav-submenu-border-color, #ABABAB);

        .wp-block-navigation__submenu-container,
        .wp-block-navigation__submenu-container .meros-mega-menu-item,
        .wp-block-navigation__submenu-container .meros-mega-menu-column-title {
            display: flex;
            opacity: 0;
            
            transition: opacity 0.4s ease;
            transition-delay: 0s;
            will-change: opacity;
        }

        .wp-block-navigation__submenu-container {
            position: relative;
            visibility: visible !important;

            display: flex;
            flex-direction: row;
            gap: var(--meros-nav-submenu-mega-menu-column-gap, 20px);
            justify-content: var(--meros-nav-submenu-mega-menu-column-alignment, start);
            
            border: none !important;
            background-color: transparent;
            
            height: auto;
            width: var(--wp--style--global--wide-size, 100%) !important;

            // Editor only
            .block-list-appender {
                display: none !important;
            }

            .meros-mega-menu-column {
                display: flex;
                flex-direction: column;

                .meros-mega-menu-column-title {
                    margin-bottom: -15px;
                    color: var(--meros-nav-submenu-title-color, #5B5B5B);
                    font-size: var(--meros-nav-submenu-title-size, 14px);
                    padding: var(--meros-nav-submenu-title-padding-y, 16px) var(--meros-nav-submenu-title-padding-x, 16px);
                }

                .meros-mega-menu-column-content,
                .meros-mega-menu-column-content
                .block-editor-inner-blocks
                .block-editor-block-list__layout {
                    display: flex;
                    flex-direction: column;
                    gap: var(--meros-nav-submenu-mega-menu-item-gap, 0px);
                }

                .meros-mega-menu-item {
                    font-size: var(--meros-nav-submenu-item-size, 1rem);
                    padding: var(--meros-nav-submenu-item-padding-y, 0px) var(--meros-nav-submenu-item-padding-x, 0px);
                }

                .meros-mega-menu-item,
                .meros-mega-menu-column-title {
                    height: auto;
                    align-items: start;

                    div {
                        background-color: inherit !important;
                    }
                }
            }
        }
    }

    // Optional shadow
    .meros-navigation-wrapper 
    .meros-mega-menu-wrapper.meros-mega-menu-has-shadow 
    .meros-mega-menu-items-container {
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12);
    }

    // Desktop Open state
    .meros-navigation-wrapper.meros-open-submenus-on-click .meros-mega-menu-wrapper.meros-submenu-open,
    .meros-navigation-wrapper:not(.meros-open-submenus-on-click) .meros-mega-menu-wrapper:hover,
    .meros-navigation-wrapper:not(.meros-open-submenus-on-click) .meros-mega-menu-wrapper:has(.meros-mega-menu-items-container:hover),
    .meros-navigation-wrapper:not(.meros-open-submenus-on-click) .meros-mega-menu-wrapper:has(.is-selected) {
        .meros-mega-menu-items-container {
            transform: scaleY(1);
            pointer-events: auto;
            transition-delay: 0s;

            .wp-block-navigation__submenu-container,
            .wp-block-navigation__submenu-container .meros-mega-menu-item,
            .wp-block-navigation__submenu-container .meros-mega-menu-column-title {
                opacity: 1;
                transition-delay: 0.4s;
            }
        }
    }

    // Mobile Closed State
    .meros-navigation-wrapper.meros-mobile-menu-active.meros-mobile-menu-open {
        .wp-block-navigation__container:has(.meros-mega-menu-wrapper) {
            .wp-block-navigation-submenu >
            .wp-block-navigation-item__content,
            .meros-top-level-item {
                transform: translateX(0);
                opacity: 1;
                transition: transform 0.2s ease, opacity 0.2s ease;
                will-change: transform, opacity;
            }
        }

        .wp-block-navigation__container:has(.meros-mega-menu-wrapper.meros-submenu-open) {
            .wp-block-navigation-submenu >
            .wp-block-navigation-item__content,
            .meros-top-level-item {
                transform: translateX(-2%);
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .meros-navigation-wrapper.meros-mobile-menu-active
    .meros-mega-menu-wrapper
    .meros-mega-menu-items-container {
        transform: none !important;
        opacity: 0;
        transition: opacity 0.2s ease !important;
        will-change: opacity !important;

        top: 0 !important;
        right: 0;
        
        width: 100% !important;
        width: -webkit-fill-available !important;
        min-width: auto;
        
        height: 100vh;

        z-index: 200;
        padding-top: 40px;

        border-bottom: none;
        box-shadow: none !important;
        background-color: var(--meros-nav-mobile-bg-color, #FFFFFF) !important;

        .wp-block-navigation__submenu-container {
            position: relative;
            inset: 0;
            
            flex-direction: column !important;
            gap: 10px !important;
            
            width: 100% !important;

            .meros-mega-menu-column {
                flex-direction: column !important;
                margin-bottom: -15px !important;
                width: 100% !important;

                .meros-mega-menu-column-content,
                .meros-mega-menu-column-content
                .block-editor-inner-blocks
                .block-editor-block-list__layout {
                    display: flex;
                    flex-direction: column;
                    gap: var(--meros-nav-mobile-items-gap, 0px) !important;
                }
            
                .meros-mega-menu-item {
                    margin-left: unset !important;
                }

                .meros-mega-menu-column-title,
                .meros-mega-menu-item {
                    opacity: 1 !important;
                    transition: none !important;
                    transition-delay: 0s !important;
                    will-change: unset;

                    width: 100% !important;
                    width: -webkit-fill-available !important;
                    padding: var(--meros-nav-mobile-item-padding-y, 10px) var(--meros-nav-mobile-item-padding-x, 30px) !important;
                }
            }
        }
    }

    // Mobile Open State
    .meros-navigation-wrapper.meros-mobile-menu-active.meros-mobile-menu-open
    .meros-mega-menu-wrapper.meros-submenu-open
    .meros-mega-menu-items-container {
        opacity: 1;
    }
}