@mixin meros-navigation-icon-styles {
    .meros-navigation-wrapper 
    .meros-navigation-mobile-toggle {
        display: none;

        position: relative;
        margin-top: 10px;
        justify-content: var(--meros-mobile-menu-item-alignment, flex-start);
        z-index: 100;

        cursor: pointer;

        .meros-navigation-mobile-toggle-svg {
            fill: var(--meros-nav-mobile-icon-color, #000000);
        }
    }

    .meros-navigation-wrapper.meros-mobile-menu-active 
    .meros-navigation-mobile-toggle {
        display: flex;
        opacity: 1;
        transition: opacity 0.3s ease;
        pointer-events: auto;
    }

    .meros-navigation-wrapper.meros-mobile-menu-active.meros-mobile-menu-open 
    .meros-navigation-mobile-toggle {
        opacity: 0;
        pointer-events: none;
    }

    .meros-navigation-wrapper .wp-block-navigation__container .meros-navigation-btns {
        display: none;
    }


    .meros-navigation-wrapper.meros-mobile-menu-active {
        .wp-block-navigation__container {
            .meros-navigation-btns {
                display: flex;
                justify-content: space-between;

                margin-left: -30px;
                padding: 0 15px;
                width: 100%;
                width: -webkit-fill-available;

                z-index: 1000;

                .meros-navigation-back-btn {
                    visibility: hidden;
                }

                .meros-navigation-close-btn {
                    display: flex;
                    cursor: pointer;

                    svg {
                        fill: var(--meros-nav-mobile-icon-color-open, #000000);
                    }
                }
            }
        }

        &.meros-submenu-open {
            .wp-block-navigation__container:has(.meros-mega-menu-wrapper)
            .meros-navigation-btns 
            .meros-navigation-back-btn {
                visibility: visible;
                cursor: pointer;

                svg {
                    fill: var(--meros-nav-mobile-icon-color-open, #000000);
                }
            }
        }
    }
}